.body{
   display:flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(185, 75%, 39%);
 
}
.bulles{
    display:flex;
    flex-direction:row;
    justify-content: center;
    position:relative;
   
    
}
.image-gauche{
flex:1;

margin-top:-400px;
}
.image-droite{
flex:1;

margin-top:600px;
margin-right:-1000px;
margin-bottom: -1000px;
}
 .profil{
    display:flex;
    flex-direction:column;
    position:absolute;
    left:950px;
    top:400px;
 }
 .image-profil{
 width:450px;
 border-radius:20px;
 }
 .informations-compte{
    background-color: white;
    margin-top: -40px;
    padding-bottom: 20px;
    padding-top: 100px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius:10px ;
 }
 .photo-profil{
    margin-top:-155px;
    margin-left:183px;
    
 }.Victor{
    border-radius: 50px;
    border: 5px solid white;
 }
 .premiere-ligne{
    display:flex;
    flex-direction:row;
    
    justify-content: space-between;
  


 }.nom{
    margin-left:170px;
    color:black;
    font-size: 18px;
    font-family:Kumbh Sans;
    font-weight:   600;
    margin-bottom: 6px;
 }
 .numero{
    margin-right:150px;
    color:gray;
    font-size: 18px;
    font-family:Kumbh Sans;
    font-weight:  400, 700;
    margin-bottom: 6px;
 }
 .deuxieme-ligne{
    border-bottom: 1px solid rgb(204, 201, 201);
 }
 .ville{
    margin-left:210px;
    margin-top:0;
    color:gray;
    font-size: 14px;
    font-family:Kumbh Sans;
    font-weight:  400, 700;
    padding-bottom: 17px;
   
 }
 .troisieme-ligne{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    margin-top:30px;
    padding-bottom:5px;
 }
 .followers
 {
    display:flex;
    flex-direction:column;
    margin-left:70px;
 }
 .likes{
    display:flex;
    flex-direction:column; 
 }
 .photos{
    display:flex;
    flex-direction:column; 
    margin-right:70px;
 }.followers-numb{
    color:black;
    font-size: 18px;
    font-family:Kumbh Sans;
    font-weight:600;
 }.likes-numb{
    color:black;
    font-size: 18px;
    font-family:Kumbh Sans;
    font-weight:600;
 }
 .photos-numb{
    color:black;
    font-size: 18px;
    font-family:Kumbh Sans;
    font-weight:600;
 }
 .Followers{
    color:gray;
    font-size: 13px;
    font-family:Kumbh Sans;
    font-weight:  400;
    margin-left:-10px;
 }
 .Likes{
    color:gray;
    font-size: 13px;
    font-family:Kumbh Sans;
    font-weight:  400;
    margin-left:5px;
 }
 .Photos{
    color:gray;
    font-size: 13px;
    font-family:Kumbh Sans;
    font-weight:  400;
    margin-left:-3px;
 }
  
